.notificaciones-container {
  background-color: #90E0EF;
  min-height: 100vh;
  padding: 20px;
}

/* Estilo del encabezado */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  color: #0077b6;
}

/* Estilo del subtítulo */
h2 {
  font-size: 1.5rem;
  color: #0077b6;
  text-align: center;
  margin-bottom: 20px;
}

/* Contenedor para la imagen del mapa */
.map-container {
  display: flex;
  justify-content: center;
}

.map-container img {
  max-width: 100%;
  height: auto;
}

.map-container img {
  max-width: 50%; /* Ajusta el porcentaje según sea necesario */
  height: auto; /* Mantiene la relación de aspecto */
  border: 5px solid #0077b6; /* Color y grosor del marco */
  border-radius: 10px; /* Esquinas redondeadas del marco (opcional) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de profundidad (opcional) */
}